Code/Disney/disney.xBandController/src/linux/AccessControlLib/src/main/resources/com/disney/xband/ac/lib/auth/model/XbUsers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="XbUsers" type="XbUsersType"/>
  <xs:complexType name="XbUsersType">
    <xs:sequence>
      <xs:element type="xs:string" name="DefaultRole" maxOccurs="1" minOccurs="1" />
      <xs:element type="XbUserType" name="XbUser" maxOccurs="unbounded" minOccurs="0">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XbUserType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name" maxOccurs="1" minOccurs="1"/>
      <xs:element type="xs:string" name="Password" maxOccurs="1" minOccurs="1"/>
      <xs:element type="xs:string" name="Role" maxOccurs="unbounded" minOccurs="0">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>